.col-md-8.col-md-offset-2
  .card
    %h2.card-header Authorized Users
    .card-body
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Status
        %tbody#users_table_body
          = render @users
    .card-footer
      = simple_form_for(User.new, url: admin_manage_users_path, html: { class: 'form-inline' }, remote: true) do |f|
        .input-group
          .input-group-prepend
            %span.input-group-text= fa_icon 'user-plus'
          = f.input_field :email, placeholder: 'Email', label: false, id: 'email_input', class: 'form-control'
          .input-group-append
            = f.button :submit, 'Invite User', class: 'btn-primary'