= simple_form_for company do |f|
  - if company.errors.any?
    #error_explanation
      %h2= "#{pluralize(company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - company.errors.full_messages.each do |message|
          %li= message

  = f.input :unp, placeholder: t('companies.unp_placeholder'), label: false
  = f.input :name, placeholder: t('companies.name_placeholder'), label: false

  .actions
    = f.submit t('companies.save_button')
