%p#notice= notice

%table.table.striped
  %tr
    %td UNP
    %td= @company.unp
  %tr
    %td Company name
    %td= @company.name

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
